################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MergerBay.Common/bin/Debug/net6.0
/MergerBay.Domain/bin/Debug/net6.0
/MergerBay.Common/obj/Debug/net6.0/ref
/MergerBay.Common/obj/Debug/net6.0/refint
/MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.csproj.CoreCompileInputs.cache
/MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.csproj.FileListAbsolute.txt
/MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.dll
/MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.pdb
*.cache
MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.assets.cache
MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.assets.cache
MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.csproj.AssemblyReference.cache
MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Common/obj/MergerBay.Common.csproj.nuget.dgspec.json
MergerBay.Common/obj/MergerBay.Common.csproj.nuget.g.props
MergerBay.Common/obj/project.assets.json
MergerBay.Common/obj/project.nuget.cache
MergerBay.Domain/MergerBay.Domain.csproj
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.assets.cache
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.csproj.AssemblyReference.cache
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.csproj.FileListAbsolute.txt
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.dll
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.pdb
MergerBay.Domain/obj/Debug/net6.0/ref/MergerBay.Domain.dll
MergerBay.Domain/obj/Debug/net6.0/refint/MergerBay.Domain.dll
MergerBay.Domain/obj/MergerBay.Domain.csproj.nuget.dgspec.json
MergerBay.Domain/obj/MergerBay.Domain.csproj.nuget.g.props
MergerBay.Domain/obj/project.assets.json
MergerBay.Domain/obj/project.nuget.cache
MergerBay.Infrastructure/bin/Debug/net6.0/MergerBay.Domain.dll
MergerBay.Infrastructure/bin/Debug/net6.0/MergerBay.Domain.pdb
MergerBay.Infrastructure/bin/Debug/net6.0/MergerBay.Infrastructure.deps.json
MergerBay.Infrastructure/bin/Debug/net6.0/MergerBay.Infrastructure.dll
MergerBay.Infrastructure/bin/Debug/net6.0/MergerBay.Infrastructure.pdb
MergerBay.Infrastructure/MergerBay.Infrastructure.csproj
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.assets.cache
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.csproj.AssemblyReference.cache
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.csproj.CopyComplete
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.csproj.FileListAbsolute.txt
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.dll
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.pdb
MergerBay.Infrastructure/obj/Debug/net6.0/ref/MergerBay.Infrastructure.dll
MergerBay.Infrastructure/obj/Debug/net6.0/refint/MergerBay.Infrastructure.dll
MergerBay.Infrastructure/obj/MergerBay.Infrastructure.csproj.nuget.dgspec.json
MergerBay.Infrastructure/obj/MergerBay.Infrastructure.csproj.nuget.g.props
MergerBay.Infrastructure/obj/project.assets.json
MergerBay.Infrastructure/obj/project.nuget.cache
MergerBay.Services/bin/Debug/net6.0/MergerBay.Common.dll
MergerBay.Services/bin/Debug/net6.0/MergerBay.Common.pdb
MergerBay.Services/bin/Debug/net6.0/MergerBay.Domain.dll
MergerBay.Services/bin/Debug/net6.0/MergerBay.Domain.pdb
MergerBay.Services/bin/Debug/net6.0/MergerBay.Infrastructure.dll
MergerBay.Services/bin/Debug/net6.0/MergerBay.Infrastructure.pdb
MergerBay.Services/bin/Debug/net6.0/MergerBay.Services.deps.json
MergerBay.Services/bin/Debug/net6.0/MergerBay.Services.dll
MergerBay.Services/bin/Debug/net6.0/MergerBay.Services.pdb
MergerBay.Services/MergerBay.Services.csproj
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.assets.cache
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.csproj.AssemblyReference.cache
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.csproj.CopyComplete
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.csproj.FileListAbsolute.txt
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.dll
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.pdb
MergerBay.Services/obj/Debug/net6.0/ref/MergerBay.Services.dll
MergerBay.Services/obj/Debug/net6.0/refint/MergerBay.Services.dll
MergerBay.Services/obj/MergerBay.Services.csproj.nuget.dgspec.json
MergerBay.Services/obj/MergerBay.Services.csproj.nuget.g.props
MergerBay.Services/obj/project.assets.json
MergerBay.Services/obj/project.nuget.cache
MergerBayApi/appsettings.json
MergerBayApi/bin/Debug/net6.0/appsettings.Development.json
MergerBayApi/bin/Debug/net6.0/appsettings.json
MergerBayApi/bin/Debug/net6.0/MergerBay.Domain.dll
MergerBayApi/bin/Debug/net6.0/MergerBay.Domain.pdb
MergerBayApi/bin/Debug/net6.0/MergerBay.Infrastructure.dll
MergerBayApi/bin/Debug/net6.0/MergerBay.Infrastructure.pdb
MergerBayApi/bin/Debug/net6.0/MergerBayApi.deps.json
MergerBayApi/bin/Debug/net6.0/MergerBayApi.dll
MergerBayApi/bin/Debug/net6.0/MergerBayApi.exe
MergerBayApi/bin/Debug/net6.0/MergerBayApi.pdb
MergerBayApi/bin/Debug/net6.0/MergerBayApi.runtimeconfig.json
MergerBayApi/bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.Internal.dll
MergerBayApi/bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
MergerBayApi/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
MergerBayApi/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
MergerBayApi/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
MergerBayApi/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
MergerBayApi/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
MergerBayApi/bin/Debug/net6.0/Microsoft.Extensions.Identity.Core.dll
MergerBayApi/bin/Debug/net6.0/Microsoft.Extensions.Identity.Stores.dll
MergerBayApi/bin/Debug/net6.0/Microsoft.IdentityModel.Abstractions.dll
MergerBayApi/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
MergerBayApi/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
MergerBayApi/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
MergerBayApi/bin/Debug/net6.0/Microsoft.OpenApi.dll
MergerBayApi/bin/Debug/net6.0/Newtonsoft.Json.dll
MergerBayApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
MergerBayApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
MergerBayApi/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
MergerBayApi/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
MergerBayApi/MergerBayApi.csproj
MergerBayApi/MergerBayApi.csproj.user
MergerBayApi/obj/Debug/net6.0/apphost.exe
MergerBayApi/obj/Debug/net6.0/MergerBayApi.assets.cache
MergerBayApi/obj/Debug/net6.0/MergerBayApi.csproj.AssemblyReference.cache
MergerBayApi/obj/Debug/net6.0/MergerBayApi.csproj.CopyComplete
MergerBayApi/obj/Debug/net6.0/MergerBayApi.csproj.FileListAbsolute.txt
MergerBayApi/obj/Debug/net6.0/MergerBayApi.dll
MergerBayApi/obj/Debug/net6.0/MergerBayApi.GeneratedMSBuildEditorConfig.editorconfig
MergerBayApi/obj/Debug/net6.0/MergerBayApi.MvcApplicationPartsAssemblyInfo.cs
MergerBayApi/obj/Debug/net6.0/MergerBayApi.pdb
MergerBayApi/obj/Debug/net6.0/ref/MergerBayApi.dll
MergerBayApi/obj/Debug/net6.0/refint/MergerBayApi.dll
MergerBayApi/obj/Debug/net6.0/staticwebassets.build.json
MergerBayApi/obj/MergerBayApi.csproj.nuget.dgspec.json
MergerBayApi/obj/MergerBayApi.csproj.nuget.g.props
MergerBayApi/obj/project.assets.json
MergerBayApi/obj/project.nuget.cache
MergerBayApi/obj/staticwebassets.pack.sentinel
MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.assets.cache
MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.csproj.AssemblyReference.cache
MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Common/obj/MergerBay.Common.csproj.nuget.dgspec.json
MergerBay.Common/obj/MergerBay.Common.csproj.nuget.g.props
MergerBay.Common/obj/project.assets.json
MergerBay.Common/obj/project.nuget.cache
MergerBay.Domain/MergerBay.Domain.csproj
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.assets.cache
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.csproj.AssemblyReference.cache
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Domain/obj/MergerBay.Domain.csproj.nuget.dgspec.json
MergerBay.Domain/obj/MergerBay.Domain.csproj.nuget.g.props
MergerBay.Domain/obj/project.assets.json
MergerBay.Domain/obj/project.nuget.cache
MergerBay.Infrastructure/MergerBay.Infrastructure.csproj
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.assets.cache
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.csproj.AssemblyReference.cache
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Infrastructure/obj/MergerBay.Infrastructure.csproj.nuget.dgspec.json
MergerBay.Infrastructure/obj/MergerBay.Infrastructure.csproj.nuget.g.props
MergerBay.Infrastructure/obj/project.assets.json
MergerBay.Infrastructure/obj/project.nuget.cache
MergerBay.Services/MergerBay.Services.csproj
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.assets.cache
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.csproj.AssemblyReference.cache
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Services/obj/MergerBay.Services.csproj.nuget.dgspec.json
MergerBay.Services/obj/MergerBay.Services.csproj.nuget.g.props
MergerBay.Services/obj/project.assets.json
MergerBay.Services/obj/project.nuget.cache
MergerBayApi/appsettings.json
MergerBayApi/MergerBayApi.csproj
MergerBayApi/obj/Debug/net6.0/MergerBayApi.assets.cache
MergerBayApi/obj/Debug/net6.0/MergerBayApi.csproj.AssemblyReference.cache
MergerBayApi/obj/Debug/net6.0/MergerBayApi.GeneratedMSBuildEditorConfig.editorconfig
MergerBayApi/obj/MergerBayApi.csproj.nuget.dgspec.json
MergerBayApi/obj/MergerBayApi.csproj.nuget.g.props
MergerBayApi/obj/project.assets.json
MergerBayApi/obj/project.nuget.cache
MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.assets.cache
MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.csproj.AssemblyReference.cache
MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Common/obj/MergerBay.Common.csproj.nuget.dgspec.json
MergerBay.Common/obj/MergerBay.Common.csproj.nuget.g.props
MergerBay.Common/obj/project.assets.json
MergerBay.Common/obj/project.nuget.cache
MergerBay.Domain/MergerBay.Domain.csproj
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.assets.cache
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.csproj.AssemblyReference.cache
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Domain/obj/MergerBay.Domain.csproj.nuget.dgspec.json
MergerBay.Domain/obj/MergerBay.Domain.csproj.nuget.g.props
MergerBay.Domain/obj/project.assets.json
MergerBay.Domain/obj/project.nuget.cache
MergerBay.Infrastructure/MergerBay.Infrastructure.csproj
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.assets.cache
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.csproj.AssemblyReference.cache
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Infrastructure/obj/MergerBay.Infrastructure.csproj.nuget.dgspec.json
MergerBay.Infrastructure/obj/MergerBay.Infrastructure.csproj.nuget.g.props
MergerBay.Infrastructure/obj/project.assets.json
MergerBay.Infrastructure/obj/project.nuget.cache
MergerBay.Services/MergerBay.Services.csproj
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.assets.cache
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.csproj.AssemblyReference.cache
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Services/obj/MergerBay.Services.csproj.nuget.dgspec.json
MergerBay.Services/obj/MergerBay.Services.csproj.nuget.g.props
MergerBay.Services/obj/project.assets.json
MergerBay.Services/obj/project.nuget.cache
MergerBayApi/appsettings.json
MergerBayApi/MergerBayApi.csproj
MergerBayApi/obj/Debug/net6.0/MergerBayApi.assets.cache
MergerBayApi/obj/Debug/net6.0/MergerBayApi.csproj.AssemblyReference.cache
MergerBayApi/obj/Debug/net6.0/MergerBayApi.GeneratedMSBuildEditorConfig.editorconfig
MergerBayApi/obj/MergerBayApi.csproj.nuget.dgspec.json
MergerBayApi/obj/MergerBayApi.csproj.nuget.g.props
MergerBayApi/obj/project.assets.json
MergerBayApi/obj/project.nuget.cache
MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.assets.cache
MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.csproj.AssemblyReference.cache
MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Common/obj/MergerBay.Common.csproj.nuget.dgspec.json
MergerBay.Common/obj/MergerBay.Common.csproj.nuget.g.props
MergerBay.Common/obj/project.assets.json
MergerBay.Common/obj/project.nuget.cache
MergerBay.Domain/MergerBay.Domain.csproj
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.assets.cache
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.csproj.AssemblyReference.cache
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Domain/obj/MergerBay.Domain.csproj.nuget.dgspec.json
MergerBay.Domain/obj/MergerBay.Domain.csproj.nuget.g.props
MergerBay.Domain/obj/project.assets.json
MergerBay.Domain/obj/project.nuget.cache
MergerBay.Infrastructure/MergerBay.Infrastructure.csproj
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.assets.cache
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.csproj.AssemblyReference.cache
MergerBay.Infrastructure/obj/Debug/net6.0/MergerBay.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Infrastructure/obj/MergerBay.Infrastructure.csproj.nuget.dgspec.json
MergerBay.Infrastructure/obj/MergerBay.Infrastructure.csproj.nuget.g.props
MergerBay.Infrastructure/obj/project.assets.json
MergerBay.Infrastructure/obj/project.nuget.cache
MergerBay.Services/MergerBay.Services.csproj
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.assets.cache
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.csproj.AssemblyReference.cache
MergerBay.Services/obj/Debug/net6.0/MergerBay.Services.GeneratedMSBuildEditorConfig.editorconfig
MergerBay.Services/obj/MergerBay.Services.csproj.nuget.dgspec.json
MergerBay.Services/obj/MergerBay.Services.csproj.nuget.g.props
MergerBay.Services/obj/project.assets.json
MergerBay.Services/obj/project.nuget.cache
MergerBayApi/appsettings.json
MergerBayApi/MergerBayApi.csproj
MergerBayApi/obj/Debug/net6.0/MergerBayApi.assets.cache
MergerBayApi/obj/Debug/net6.0/MergerBayApi.csproj.AssemblyReference.cache
MergerBayApi/obj/Debug/net6.0/MergerBayApi.GeneratedMSBuildEditorConfig.editorconfig
MergerBayApi/obj/MergerBayApi.csproj.nuget.dgspec.json
MergerBayApi/obj/MergerBayApi.csproj.nuget.g.props
MergerBayApi/obj/project.assets.json
MergerBayApi/obj/project.nuget.cache
MergerBayApi/obj/project.nuget.cache
MergerBayApi/obj/project.assets.json
MergerBayApi/obj/MergerBayApi.csproj.nuget.g.props
MergerBayApi/obj/MergerBayApi.csproj.nuget.dgspec.json
MergerBayApi/obj/Debug/net6.0/MergerBayApi.GeneratedMSBuildEditorConfig.editorconfig
MergerBayApi/obj/Debug/net6.0/MergerBayApi.csproj.AssemblyReference.cache
MergerBay.Common/obj/Debug/net6.0/MergerBay.Common.assets.cache
*.cache
MergerBay.Common/obj/MergerBay.Common.csproj.nuget.dgspec.json
MergerBay.Common/obj/MergerBay.Common.csproj.nuget.g.props
MergerBay.Common/obj/project.assets.json
MergerBay.Common/obj/project.nuget.cache
MergerBay.Domain/obj/Debug/net6.0/MergerBay.Domain.assets.cache
/MergerBay.Common/obj/Debug/net6.0
/MergerBay.Services/obj/Debug/net6.0
/MergerBay.Common/obj
/MergerBay.Domain/obj
/MergerBay.Infrastructure/obj
/MergerBay.Services/obj
/MergerBayApi/obj
/MergerBay.Domain/bin/Release/net6.0
/MergerBay.Infrastructure/bin/Debug/net6.0
/MergerBay.Infrastructure/bin/Release/net6.0
/MergerBay.Services/bin
/MergerBay.Utilities/bin
/MergerBay.Utilities/obj
/MergerBayApi/bin
/MergerBayApi/Properties/PublishProfiles
